flask<=2.2.5
hydra-core>1.3,<=1.3.2
omegaconf<=2.3
pytorch-lightning>=2.0
python-dateutil
wrapt
wget
onnx>=1.7.0
transformers>=4.0.1
pandas
sentencepiece<1.0.0
youtokentome>=1.0.5
braceexpand
webdataset
h5py
sacremoses>=0.0.43
matplotlib
scikit-learn
sacrebleu[ja]
rouge_score
einops